<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFMZuRzZBpDKpvEUuwf38dVHSQfziLj_c</string>
	<key>GCM_SENDER_ID</key>
	<string>883068822248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RGapp1.notes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-rg1114</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-rg1114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883068822248:ios:5b8f75e8708d170c209f5d</string>
</dict>
</plist>